<!-- Header -->
<header class="p-2">

    <div class="d-flex flex-wrap align-items-center justify-content-center flex-column flex-sm-row">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0">
            <li>
                <!-- Logo -->
                <div style="width: 100px;"><img class="img-fluid w-50 h-50" src="/images/logo-modified.png" alt="">
                </div>
            </li>
        </ul>
    </div>

</header>