<header class="p-2 w-100">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <div class="d-flex flex-wrap align-items-center justify-content-center flex-column flex-sm-row">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0 align-items-center">
            <li>
                <!-- Logo -->
                <div style="width: 100px;">
                    <a href="/members">
                        <img class="img-fluid w-50 h-50" src="/images/logo-modified.png" alt="">
                    </a>
                </div>
            </li>
            <li>
                <h1 class="fw-bold">NutriFit</h1>
            </li>
        </ul>
    </div>

</header>