<footer class="footer">
    <div class="container">
        <nav class="navbar fixed-bottom navbar-expand-sm navbar-light" style="background-color: #333;">
        <ul class="navbar-nav nav-justified w-100">
          <li class="nav-item">
            <a class="nav-link" href="/button1">
              <img src="/path/to/image1.png" alt="Button 1">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/button2">
              <img src="/path/to/image2.png" alt="Button 2">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/button3">
              <img src="/path/to/image3.png" alt="Button 3">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/button4">
              <img src="/path/to/image4.png" alt="Button 4">
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/button5">
              <img src="/path/to/image5.png" alt="Button 5">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>
  






