<footer>
  <div class="container">
    <nav class="navbar fixed-bottom navbar-expand-sm navbar-light px-0 py-2" style="background-color: #666;">
      <ul class="navbar-nav nav-justified w-100 d-flex flex-row justify-content-center align-items-center">
        <li class="nav-item flex-fill text-center">
          <a class="nav-link" href="/">
            <img src="https://static-00.iconduck.com/assets.00/home-icon-144x131-631i5okw.png" alt="Button 1" width="50"
              height="50">
          </a>
        </li>
        <li class="nav-item flex-fill text-center">
          <a class="nav-link" href="/favourites">
            <img src="https://static-00.iconduck.com/assets.00/heart-icon-96x81-ytw1lvcb.png" alt="Button 2" width="50"
              height="50">
          </a>
        </li>
        <li class="nav-item flex-fill text-center">
          <a class="nav-link" href="/generatedMeals">
            <img src="https://static-00.iconduck.com/assets.00/food-bank-icon-87x96-0lli0cxv.png" alt="Button 3"
              width="50" height="50">
          </a>
        </li>
        <li class="nav-item flex-fill text-center">
          <a class="nav-link" href="/generatedWorkouts">
            <img src="https://static-00.iconduck.com/assets.00/dumbbell-icon-96x96-g43ap359.png" alt="Button 4"
              width="50" height="50">
          </a>
        </li>
        <li class="nav-item flex-fill text-center">
          <a class="nav-link" href="">
            <img src="https://static-00.iconduck.com/assets.00/history-edu-icon-96x78-xzge5v95.png" alt="Button 5"
              width="50" height="50">
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>