<!DOCTYPE html>
<html lang="en">

<%- include('partials/meta') %>

    <body>

        <div class="bg-body-tertiary" style="height: 100vh">

            <!-- Header -->
            <%- include('partials/header') %>

                <div class="row w-100 m-0">
                    <div class="mx-auto col-lg-5 col-12">

                        <div class="card mx-auto mt-5 p-3 w-75">

                            <div class="card-body">

                                <div class="container-fluid mt-3 p-0">

                                    <div>

                                    </div>
                                    <div class="fw-medium mt-2 text-center">
                                        That "<%= match %>" already exists
                                    </div>
                                    <div class="text-center">
                                        <a href="/user/signUp">Try again</a>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div style="height: 100px;"></div>
                <%- include('partials/navbar') %>
        </div>

    </body>

</html>