<!DOCTYPE html>
<html lang="en">

<%- include('partials/meta') %>

    <body>

        <div class="bg-body-tertiary" style="height: 100vh">

            <!-- Header -->
            <%- include('partials/header') %>

                <div class="row w-100 m-0">
                    <div class="mx-auto col-lg-5 col-12">

                        <div class="card mx-auto mt-5 p-3 w-75">

                            <div class="card-body">

                                <div class="container-fluid mt-3 p-0">
                                    <h5 class="text-center">Bad API Response</h5>
                                    <div>
                                        It happens sometimes. Due to the nature of GPT-3.5, we do not always get
                                        a response we can use.
                                    </div>
                                    <div class="fw-medium mt-2 text-center">
                                        Thank you for your understanding
                                    </div>
                                    <div class="text-center">
                                        <a href="/">Home</a>
                                    </div>

                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <%- include('partials/navbar') %>
        </div>

    </body>

</html>