<!DOCTYPE html>
<html lang="en">

<%- include('partials/meta') %>


    <body>
        <div class="bg-body-tertiary" style="height: 100vh">

            <div class="row w-100 m-0">
                <div class="mx-auto col-lg-5 col-12">
                    <div class="card mx-auto mt-5 p-3 w-75">
                        <div class="card-body">
                            <h1 class="mb-5">Favourites</h1>
                            <div class="card">
                                <div class="card-text">
                                    <h2 class="text-center">Meals</h2>
                                </div>
                            </div>
                            <div class="card mt-3">
                                <div class="card-text">
                                    <h2 class="text-center">Workouts</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>