<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!-- <body>
    <h1>
        <% foodsList.forEach(food=> {%>
            <p>
                <%= food.Food%>
            </p>
            <% }) %>
    </h1>
</body> -->

<body>
    //search function
    <form id="search-form">
        <input type="text" id="search-bar" placeholder="Search for food...">
    </form>

    <div id="foodResults"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#search-bar').on('input', function () {
                const searchQuery = $(this).val();
                $.get('/searchFood', { q: searchQuery }, function (data) {
                    $('#foodResults').empty();
                    data.forEach(item => {
                        $('#foodResults').append(`
                  <div>
                    <p>${item.name} - ${item.measure}</p>
                    <button onclick="addItem('${item.id}')">Add</button>
                  </div>
                `);
                    });
                });
            });
        });

        function addItem(id) {
            $.post('/selectFood', { item: id }, function () {
                // Redirect to selected page or show a message
                window.location.href = "/selectedFood";
            });
        }
    </script>

    //create cards using food data from mongoDB
    <div class="bg-body-tertiary" style="height: 100vh">

        <div class="row w-100 m-0">
            <div class="mx-auto col-lg-5 col-12">
                <div class="card mx-auto mt-5 p-3 w-75">
                    <div class="card-body">
                        <h1 class="mb-5">Food Catalog</h1>
                        <form id="search-form">
                            <input class="mb-3 w-100" name="searchFood" type="text" id="search-bar"
                                placeholder="Search for food...">
                        </form>
                        <% foodsList.forEach(food=> {%>

                            <div class="card">
                                <div class="row no-gutters">
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <%= food.Food%>
                                            </h5>
                                            <p class="card-text">
                                                <%= food.Calories%>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <a href="#" class="btn btn rounded-pill btn-dark mt-4">Add to logs</a>
                                    </div>
                                </div>
                            </div>


                            <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>