<!DOCTYPE html>
<html>
<head>
  <title>Workout Routine</title>
</head>
<body>
  <h1>Workout Routine</h1>

  <% if (response && response.length > 0) { %>
    <p><%= response %></p>
  <% } else { %>
    <p>No workout routine generated.</p>
  <% } %>
</body>
</html>
