<!DOCTYPE html>
<html lang="en">

<%- include('partials/meta') %>

    <body>

        <div class="bg-body-tertiary" style="height: 100vh">

            <!-- Header -->
            <%- include('partials/header') %>

                <div class="row">
                    <div class="mx-auto col-lg-5 col-12">

                        <div class="card mx-5 mt-5 p-3">
                            <div class="card-body">
                                <h1 class="mb-5">Sign in</h1>

                                <form action="/login" method="post">
                                    <input class="mb-3 w-100" name="email" type="text" placeholder="Email or ID">
                                    <input class="w-100 mb-5" name="password" type="password" placeholder="Password">
                                    <input class="btn rounded-pill btn-dark w-100" type="submit" value="Sign in">
                                </form>

                            </div>
                        </div>

                    </div>
                </div>

        </div>

    </body>

</html>