<!DOCTYPE html>
<html lang="en">

<%- include('partials/meta') %>

    <head>
        <style>
            body {
                font-family: Arial, sans-serif;
                background-color: #f8f9fa;
            }

            .card {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                border-radius: 5px;
            }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }

            .card-body {
                padding: 2em;
            }

            .card-text {
                padding: 1em;
            }

            @media (max-width: 768px) {
                .card {
                    margin-top: 50px;
                    margin-bottom: 50px;
                }

                .card-body {
                    margin-top: 50px;
                }
            }
        </style>
    </head>

    <body>
        <div class="bg-body-tertiary" style="height: 100vh">

            <div class="row w-100 m-0">
                <div class="mx-auto col-lg-9 col-12">
                    <div class="card mx-auto mt-5 p-3 w-75">
                        <div class="card-body text-center">

                            <!-- Header -->
                            <div class="header d-flex align-items-center mb-3">
                                <a href="/" style="text-decoration: none; color: inherit;">
                                    <button class="btn btn-light">
                                        < </button>
                                </a>
                                <h1 class="mx-auto" style="transform: translateX(-15px);">Logs</h1>
                            </div>

                            <!-- Meals Card -->
                            <a href="mealTracking/mealLogs" style="text-decoration: none; color: inherit;">
                                <div class="card mb-3">
                                    <div class="card-text">
                                        <h2 class="text-center">Meals</h2>
                                    </div>
                                </div>
                            </a>

                            <!-- Workouts Card -->
                            <a href="workoutTracking/workoutLogs" style="text-decoration: none; color: inherit;">
                                <div class="card">
                                    <div class="card-text">
                                        <h2 class="text-center">Workouts</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <%- include('partials/navbar') %>
        </div>

    </body>

</html>