<!DOCTYPE html>
<html lang="en">

<%- include('partials/meta') %>

    <body>
        <!-- Header -->
        <%- include('partials/header.ejs')%>

        <div class="container-fluid" style="height: calc(100vh - 60px); overflow-y: auto;">
            <div class="row mb-3">
              <div class="col-3">
                <a href="/userProfile">
                  <img src="/images/profile-circle.svg" alt="" height="75">
                </a>
              </div>
              <div class="col d-flex align-items-center fs-2 fw-medium">
                <span>
                  <%= primaryUser.id %>
                </span>
              </div>
              <div class="col-5">
                <div class="mb-2">
                    <form action="/userProfile" method="get">
                        <button type="submit" class="btn btn-light border border-dark w-100">View Profile</button>
                    </form>
                </div>
                <div class="mb-2">
                    <form action="/logout" method="post">
                        <button type="submit" class="btn btn-light border border-dark w-100">Sign out 
                            <!-- <img src="images\greater-than-solid.svg" alt="" height="20"> -->
                        </button>
                    </form>
                </div>
              </div>
            </div>

                <form class="mb-4" action="/generatedMeals">
                    <input class="btn btn-dark w-100" type="submit" value="Generate Meal">
                </form>

                <form class="mb-4" action="generatedMeals/quickAddMeal">
                    <input class="btn btn-light border w-100" type="submit" value="Quick Add Food Item">
                </form>

                <form class="mb-4" action="/generatedWorkouts">
                    <input class="btn btn-dark w-100" type="submit" value="Generate Workout">
                </form>

                <form class="mb-4" action="generatedWorkouts/quickAddWorkout">
                    <input class="btn btn-light border w-100" type="submit" value="Quick Add Exercise">
                </form>

                <form class="mb-4" action="/favorites">
                    <input class="btn btn-dark w-100" type="submit" value="Favorites">
                </form>

                <form class="mb-4" action="/logs">
                    <input class="btn btn-dark w-100" type="submit" value="Logs">
                </form>
            </div>

            <div style="height: 100px;">
                <%- include('partials/navbar') %>
            </div>
    </body>

</html>