<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Selected Food</title>
  </head>
  <body>
    <h1>Selected Food</h1>
    <ul>
      <% for(let i = 0; i < food.length; i++) { %>
        <div>
          <p><%= food[i] %></p>
          <form action="/removeFood" method="post">
            <input type="hidden" name="item" value="<%= food[i] %>">
            <input type="hidden" name="user" value="<%= userId %>"> <!-- Pass userId to server -->
            <input type="submit" value="Remove">
          </form>
        </div>
      <% } %>
    </ul>
    <a href="/food">Back to Filter</a>
  </body>
</html>