<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Selected Food</title>
  </head>
  <body>
    <h1>Selected Food</h1>
    <ul>
      <% food.forEach(item => { %>
        <li><%= item.Food %> (<%= item.Measure %>)</li>
      <% }) %>
    </ul>
    <a href="/">Back to Filter</a>
  </body>
</html>