<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Selected Food</title>
  </head>
  <body>
    <h1>Selected Food</h1>
    <ul>
      <% food.forEach(item => { %>
        <li>
          <%= item.Food %> (<%= item.Measure %>)
          <form method="POST" action="/removeFood">
            <input type="hidden" name="item" value="<%= item._id %>">
            <button type="submit">Remove</button>
          </form>
        </li>
      <% }) %>
    </ul>
    <a href="/food">Back to Filter</a>
  </body>
</html>