<!DOCTYPE html>
<html lang="en">

<!-- Meta Tag -->
<%- include('../partials/meta') %>

    <body>

        <div class="bg-body-tertiary" style="height: 100vh">

            <!-- Header -->
            <%- include('../partials/header') %>

                <div class="row w-100 m-0">
                    <div class="mx-auto col-lg-5 col-12">

                        <div class="card mx-auto mt-5 p-3 w-75">
                            <div class="card-body">
                                <h2 class="mb-4">Sign up</h2>

                                <form action="./signup" method="post">
                                    <span class="text-danger">* Required field</span><input class="mb-3 w-100" name="id" type="text" placeholder="ID">
                                    <span class="text-danger">* Required field</span><input class="mb-3 w-100" name="email" type="text" placeholder="Email">
                                    <span class="text-danger">* Required field</span><input class="w-100 mb-4" name="password" type="password" placeholder="Password">
                                    <h6>Security Question</h6>
                                    <span>What is the name of your first pet?</span>
                                    <span class="text-danger">* Required field</span><input class="w-100 mb-2 mt-2" name="answer" type="text" placeholder="Answer">
                                    <input class="btn rounded-pill btn-dark w-100" type="submit" value="Sign up">
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
        </div>

    </body>
    <script>
        /**
         * Trims the input value of any whitespace.
         */
        var inputs = document.querySelectorAll('input');
        for (var i = 0; i < inputs.length; i++) {
            inputs[i].addEventListener('input', function(e) {
                e.target.value = e.target.value.trim();
            });
        }
    </script>

</html>