<!DOCTYPE html>
<html lang="en">

<%- include('../partials/meta') %>
    <body>
        <div class="bg-body-tertiary" style="height: 100vh">

            <!-- Header -->
            <%- include('../partials/header') %>

                <div class="container p-3">
                    <!-- Header -->
                    <div class="fs-3 fw-semibold d-flex mb-4 align-items-center">
                        <div>
                        <button class="btn btn-light">
                            <a href="/members"><img src="/images/less-than.svg" alt=""></a>
                        </button>
                        </div>
                        <div class="ms-5">
                            <h2 style="transform: translateX(20%);">Favorites</h2>
                        </div>
                    </div>
                    <div class="mx-auto col-lg-9 col-12">
                        <!-- Cards -->
                        <form class="btn-card mb-2" action="/favoriteMeals" method="get">
                            <input type="submit" class="btn btn-dark btn-xl w-100" value="Meals">
                        </form>
                        <form class="btn-card mb-2" action="/favoriteWorkouts" method="get">
                            <input type="submit" class="btn btn-dark btn-xl w-100" value="Workouts">
                        </form>
                    </div>
                </div>
                <%- include('../partials/navbar') %>

        </div>

    </body>

</html>