<!DOCTYPE html>
<html>
<%- include('../partials/meta') %>

    <head>
        <title>Waiting for API Response</title>
        <!-- Waiting for API Response waiting circle -->
        <style>
            body {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                margin: 0;
            }

            .container {
                text-align: center;
            }

            .loader {
                border: 16px solid #f3f3f3;
                border-top: 16px solid #3498db;
                border-radius: 50%;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
                margin: 0 auto;
            }

            .text {
                margin-top: 16px;
            }

            @keyframes spin {
                0% {
                    transform: rotate(0deg);
                }

                100% {
                    transform: rotate(360deg);
                }
            }
        </style>
    </head>

    <>
        <div class="bg-body-tertiary" style="height: 100vh">
            <div class="container">
                <h1 class="text">Waiting for API response</h1>
                <div class="loader"></div>

            </div>
        </div>

        <div class="d-none" id="user">
            <%= user %>
        </div>

        <div class="d-none" id="calories">
            <%= calories %>
        </div>

        <!-- Bootstrap JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Personal JS -->
        <script src="/scripts/loading.js"></script>
        </body>

</html>