<!DOCTYPE html>
<html lang="en">

<%- include('partials/meta') %>

    <body>
        <div class="container p-3" style="height: 100vh;">
            <!-- Header -->
            <div class="fs-3 fw-semibold d-flex mb-4">
                <div class="me-1">
                    <a href="/members"><img src="/images/less-than.svg" alt=""></a>
                </div>
                <div class="ms-5">
                    Exercise Tracker
                </div>


            </div>

            <div class="container fs-4 fw-medium m-0 p-0 mb-1">
                Filter By:
            </div>
            <div class="container m-0 p-0 d-flex mb-2">
                <button class="btn btn-light border fw-medium me-2">Day</button>
                <button class="btn btn-light border fw-medium me-2">Week</button>
                <button class="btn btn-light border fw-medium me-2">Month</button>
            </div>

            <div class="container m-0 p-0 fw-medium fs-5 mb-1 d-inline-flex">
                <span>
                    Total Workout Time
                </span>

                <div class="container h-25 mb-4 overflow-auto border">

                    <!-- workout.forEach( (exercise)=> {  --> ejs syntax
                    <div class="container m-0 p-0 border-bottom d-flex align-items-center">
                        <div class="d-inline align-self-center d-flex my-auto" style="width: 40px;">
                            <button class="rounded-circle border-0 m-0 p-0 my-auto"
                                style="height: 30px; width: 30px"></button>
                        </div>

                        <div class="w-50 vstack gap-0">
                            <div class="d-inline-flex">
                                <span>
                                    (Total Duration) min
                                </span>
                            </div>

                        </div>

                    </div>
                </div>

                <span>
                    Exercise
                </span>
                <div class="container h-25 mb-4 overflow-auto border">

                    <div class="container m-0 p-0 border-bottom d-flex align-items-center">
                        <div class="d-inline align-self-center d-flex my-auto" style="width: 40px;">
                            <button class="rounded-circle border-0 m-0 p-0 my-auto"
                                style="height: 30px; width: 30px"></button>
                        </div>

                        <div class="w-50 vstack gap-0">
                            <div class="d-inline-flex">
                                <span>
                                    exercise name
                                </span>

                                <span class="ms-auto">
                                    minutes
                                </span>

                            </div>
                            <div class="d-inline text-secondary" style="font-size: 14px">
                                body part
                            </div>
                        </div>

                    </div>


                </div>
                <span>
                    Focused Body Part
                </span>

                <div class="container h-25 mb-4 overflow-auto border">

                    <!-- workout.forEach( (exercise)=> {  --> ejs syntax
                    <div class="container m-0 p-0 border-bottom d-flex align-items-center">
                        <div class="d-inline align-self-center d-flex my-auto" style="width: 40px;">
                            <button class="rounded-circle border-0 m-0 p-0 my-auto"
                                style="height: 30px; width: 30px"></button>
                        </div>

                        <div class="w-50 vstack gap-0">
                            <div class="d-inline-flex">
                                <span>
                                    Body part
                                </span>
                            </div>

                        </div>

                    </div>
                </div>
                <div style="height: 100px;"></div>
                <%- include('partials/navbar') %>
            </div>
    </body>

</html>