<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Filter Exercises</title>
  </head>
  <body>
    <form id="search-form">
        <input type="text" id="search-bar" placeholder="Search for exercises...">
      </form>
      
      <div id="exerciseResults"></div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script>
        $(document).ready(function() {
          $('#search-bar').on('input', function() {
            const searchQuery = $(this).val();
            $.get('/searchExercise', { q: searchQuery }, function(data) {
              $('#exerciseResults').empty();
              data.forEach(item => {
                $('#exerciseResults').append(`
                  <div>
                    <p>${item.name} - Target: ${item.bodyPart}, Equipment: ${item.equipment}</p>
                    <button onclick="addExercise('${item.id}')">Add</button>
                  </div>
                `);
              });
            });
          });
        });
      
        function addExercise(id) {
          $.post('/selectExercise', { item: id }, function() {
            // Redirect to selected page or show a message
            window.location.href = "/selectedExercise";
          });
        }
      </script>
  </body>
</html>